{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}

<li>
    <a href="{% url 'admin:core_feiertag_xml_upload' %}"
       class="addlink">
        {% trans "XML importieren / aktualisieren" %}
    </a>
</li>

<li>
    <a href="{% url 'admin:core_feiertag_xml_replace' %}"
       class="addlink">
        {% trans "XML ersetzen" %}
    </a>
</li>

<li>
    {% if xml_feiertage_aktiv %}
        <a href="{% url 'admin:core_feiertag_xml_toggle' %}">
            {% trans "XML-Feiertage deaktivieren" %}
        </a>
    {% else %}
        <a href="{% url 'admin:core_feiertag_xml_toggle' %}">
            {% trans "XML-Feiertage aktivieren" %}
        </a>
    {% endif %}
</li>

{{ block.super }}

{% endblock %}